    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right"
                        type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                </div>
                <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                            <span class="label label-danger">{{dish.label}}</span>
                            <span class="badge">{{dish.price | currency}}</span>
                        </h2>
                        <p>{{dish.description}}</p>
                </div>
                <div>
                </div>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <h4>Customer Comments</h4>
            </div>
            <div class="col-xs-6" style="margin-top:4px">
               <label for="order" style="color:silver">
                   Sort by
               </label>
               <input type="text" id="order" ng-model="filtText">
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-repeat="comment in dish.comments | orderBy: filtText">
                <blockquote>
                  <p>{{comment.rating}} Stars</p>
                  <p>{{comment.comment}}</p>
                  <footer>{{comment.author}}, {{comment.date | date:'MMM. dd,yyyy'}}</footer>
                </blockquote>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                    <ul class="list-unstyled" ng-show="commentForm.$valid && !commentForm.$pristine">
						<blockquote>
                          <p>{{comment.rating}} Stars</p>
                          <p>{{comment.comment}}</p>
                          <footer>{{comment.author}}, {{comment.date | date:'MMM. dd,yyyy'}}</footer>
                        </blockquote>
                    </ul>
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
					<div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                        <label for="author" class="col-sm-2 control-label">Your name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name" ng-model="comment.author" required>
                            <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rating" class="col-sm-2 control-label">Number of Stars</label>
                        <div class="col-sm-10">
                            <label class="radio-inline"><input type="radio" value="1" ng-model="comment.rating" name="rating">1</label>
                            <label class="radio-inline"><input type="radio" value="2" ng-model="comment.rating" name="rating">2</label>
                            <label class="radio-inline"><input type="radio" value="3" ng-model="comment.rating" name="rating">3</label>
                            <label class="radio-inline"><input type="radio" value="4" ng-model="comment.rating" name="rating">4</label>
                            <label class="radio-inline"><input type="radio" value="5" ng-model="comment.rating" name="rating" checked>5</label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="comment.comment" required></textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your comment is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>