<div class="container" ng-controller="IndexController">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Our Lipsmacking Culinary Creations</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="media" ng-if="showDish">
            <div class="media-left media-middle">
                <a ui-sref="app">
                    <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="Uthappizza">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{dish.name}}
                    <span class="label label-danger">{{dish.label}}</span>
                    <span class="badge">{{dish.price | currency}}</span>
                </h2>
                <p>{{dish.description}}</p>
            </div>
            </div>
        </div>
    </div>


    <div class="row row-content">
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
            <h3 align=center>This Month's Promotions</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="media">
            <div class="media-body">
                <h2 class="media-heading">{{promotion.name}}
                    <span class="label label-danger">{{promotion.label}}</span>
                    <span class="badge">{{promotion.price | currency}}</span>
                </h2>
                <p>{{promotion.description}}</p>
            </div>
            <div class="media-right">
                <a ui-sref="app">
                    <img class="media-object img-thumbnail"
                         ng-src={{promotion.image}} alt="Uthappizza">
                </a>
            </div>
            </div>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Meet our Culinary Specialists</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div class="media">
            <div class="media-left media-middle">
                <a ui-sref="app">
                    <img class="media-object img-thumbnail"
                         ng-src={{leader.image}} alt="Uthappizza">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{leader.name}}
                <small>&nbsp;{{leader.designation}}</small>
                </h2>
                <p>{{leader.description}}</p>
            </div>
            </div>
        </div>
    </div>
</div>
